body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    color: #f0f0f0;
}

header {
    background: #111;
    padding: 20px 80px;
    border-bottom: 1px solid #222;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.logo-row {
    display: flex;
    gap: 6px;
}

.nav a {
    margin-left: 60px;
    color: #ccc;
    text-decoration: none;
}

nav a:hover {
    color: #fff;
}
.logo-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #FFD966;
    border-radius: 50%;
}

.letter {
    color: #fedd94 !important;
    font-size: 1.2rem;
    font-weight: 600;
}

.hero {
    text-align: center;
    padding: 120px 20px;
    background: linear-gradient(135deg, #1a1a1a, #0d0d0d);
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.cta {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #ffcc00;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

.cta:hover {
    background: #e6b800;
}

.section {
    padding: 60px 20px;
}

.section.alt {
    background: #151515;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: auto;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111;
    border-top: 1px solid #222;
}

/* --- MODALE CONTACT --- */

.modal {
  display: none; /* Cache la modale par défaut */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6); /* Fond semi-transparent */
}

.modal-content {
  background: #111;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  color: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #222;
  border: 1px solid #333;
  color: #fff;
  border-radius: 5px;
}

.contact-form button {
  margin-top: 15px;
  padding: 12px;
  width: 100%;
  background: #ffcc00;
  color: #000;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.contact-form button:hover {
  background: #e6b800;
}

















